{% extends 'base.html.twig' %}

{% block title %}categories{% endblock %}

{% block body %}

    <div class="col-12">
        {# <h1>{{categories.libelle}}</h1> #}
        <h1>Categories</h1>
    </div>

    {# {% for sc in categorie.sousCategories %} #}
    {% for categorie in categories %}
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
            {# <a href="/produits/{{s_categories.id}}"> #}
            <a href="{{path('app_scat', {"id" : categorie.id })}}">
                {# <a href="{{categorie.id}}"> #}
                <div class="card" style="">
                    <img src="{{asset ('assets/img/cat/' ~ categorie.getImgCat())}}" alt="image" srcset="" class="card-img-top img-fluid">
                    <div class="card-body">
                        {# <h5 class="card-title">{{ categorie.libelle }}</h5> #}
                        <h5 class="card-title">{{ categorie.getLibelleCat() }}</h5>
                    </div>
                </div>            
            </a>
        </div>
    {% endfor %}

{% endblock %}
